*{

    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
    margin-top: 15px;

}


nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a {
    font-size: 16px;
    color: #474747;
    text-decoration: none;
    opacity: 0.9;
}

 .btn {
color: rgba(255, 255, 255, 1);
background-color:#30B868;
padding: 12px 16px 12px 16px;
border-radius: 4px;
border:none;
font-family: Inter;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
display: flex;
align-items: center;
justify-content: center;
}
.btn:hover{
    background-color:rgb(118, 136, 91); 
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.about h2{
color: #272626;
font-style: Bold;
font-size: 58px;
font-weight: 700;
line-height: 58px;
text-align: center;
}
.about p{
color: #817a7a;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center; 
margin-top: 10px;
}

#cards{
    display: flex;
    gap:45px; 
    margin: 0% 15%;
    margin-top: 30px;
    text-align: center;

}
.card{
    height: 300px;
    width: 320px;
    display: flex;
    flex-direction: column; 
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(243, 242, 239);
}
.card img{
    height: 50px ; 
    width: 50px;
    background: rgba(249, 85, 85, 1);
    padding: 5px;
    border-radius: 100%;
}

.early-access{
    display: flex;
    gap:5px; 
    border-color: beige; 
    border: 1px solid rgb(138, 133, 133);
    padding: 5px;
    width: fit-content;
    border-radius: 54px;
}
.btn2{
    color: white;
padding: 12px 16px 12px 16px;
background-color:none;
border-radius: 4px;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
text-align: left;
border: 1px solid rgb(192, 182, 182);
background-color: transparent;
}
.btn2:hover{
    background-color: #817a7a;
}
.banner{
    background: url("../assets/images/hero-bg.png");
    background-repeat: no-repeat;
    padding-top: 150px;
    width: 100%;
    min-height: 75vh;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.banner .banner-content{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     max-width: 50%;
     margin: auto;
}
.banner .banner-content h2{
color:white; 
font-style: Bold;
font-size: 82px;
font-weight: 700;
line-height: 84px;
margin-top: 50px;

}
.banner .banner-content .early-access{
    background-color: white;
    color:#30B868; 
    margin-bottom: 15px;
    padding: 5px;

}
#sub-title{ 
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
color:white; 
margin-top: 20px;
}
#buttons{
    display: flex;
    gap:20px; 
    margin-top: 40px;
}

#brain-section{
    display: flex;
    max-width: 75%;
    margin: auto;
    align-items: center;
    gap:60px;
    justify-content:space-between;
}

#brain-section #thesolution{
    color: #30B868;
    margin: 20px 0px;
}
#brain-section h3{
    font-style: Bold;
font-size: 48px;
}

#brain-section p{
font-size: 20px;
font-weight: 400;
line-height: 20px;
color:rgb(138, 137, 137); 
margin-bottom: 20px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1px;
}

.feature-item i {
background-color:white;
color:#30B868; 
border-radius: 50%;
font-size: 18px;
}