*{

    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
    margin-top: 15px;

}


nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a {
    font-size: 16px;
    color: #474747;
    text-decoration: none;
    opacity: 0.9;
}

 .btn {
color: rgba(255, 255, 255, 1);
background-color:#30B868;
padding: 12px 16px 12px 16px;
border-radius: 4px;
border:none;
font-family: Inter;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.btn:hover{
    background-color:rgb(118, 136, 91); 
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.about h2{
color: #272626;
font-style: Bold;
font-size: 58px;
font-weight: 700;
line-height: 58px;
text-align: center;
}
.about p{
color: #817a7a;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center; 
margin-top: 10px;
}

#cards{
    display: flex;
    gap:45px; 
    margin: 0% 15%;
    margin-top: 30px;

}
.card{
    height: 300px;
    width: 320px;
    display: flex;
    flex-direction: column; 
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(243, 242, 239);
}
.card img{
    height: 50px ; 
    width: 50px;
    background: rgba(249, 85, 85, 1);
    padding: 5px;
    border-radius: 100%;
}